@import "../../styles/palette";

.station-detail {
  width: 400px;
  margin: 5px 0 0 5px;
  padding: 0 20px 20px;
  &__chart {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px $default-shadow;
    overflow: hidden;
  }
}
